{% extends "index2.html" %}
{% block title %}Baza{% endblock %}
{% set active_page = "Baza" -%}
{% block body %}
<div class="row">
<div class="col-sm-6">
<h1><b>Formularz:</b></h1><br>
        <form action= "" method="post">
            <center>
        <input type="text" name="imie" placeholder="Podaj swoje imie"><br><br>
            <textarea name='text' placeholder="Tekst"></textarea><br><br>
                Data dodania: <input type="date"><br><br>
        <button type='submit'>Wyślij</button></center>
        </form>
</div>
<div class="col-sm-6">
<h1><b>Sekcja komentarzy:</b></h1><br>
    {% for result in data %}
    {% else %}
<p>Brak wpisów </p>
{% endfor %}
</div>
</div>
{% endblock %}